---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { getCollection } from "astro:content";
import Breadcrumbs from "../components/Breadcrumbs.astro";

type Friend = {
  id: string;
  data: {
    name: string;
    image: string;
    site: string;
  };
};

// 添加图片路径处理函数
const getImagePath = (image: string) => {
  return image.startsWith("http") ? image : image;
};
const friends: Friend[] = await getCollection("friends");
---

<Layout title={`Friends you should follow | ${SITE.title}`}>
  <Header activeNav="friends" />
  <Breadcrumbs />
  <main id="main-content">
    <section id="about" class="prose mb-28 max-w-4xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-2xl">
        Friends you should follow
      </h1>
      <div class="grid auto-rows-fr grid-cols-4 gap-2 sm:grid-cols-5">
        {
          friends.map(friend => (
            <a
              href={friend.data.site}
              target="_blank"
              rel="noopener noreferrer"
              class="block flex"
            >
              <figure class="md:py-6 lg:py-6 m-0 py-1 text-center sm:py-2">
                <img
                  alt={friend.data.name}
                  src={getImagePath(friend.data.image)}
                  loading="lazy"
                  decoding="async"
                  fetchpriority="low"
                  class="mx-auto block h-auto w-24 rounded-lg object-cover"
                />
                <figcaption class="m-0 p-0 text-xs leading-tight">
                  {friend.data.name}
                </figcaption>
              </figure>
            </a>
          ))
        }
      </div>
    </section>
  </main>
  <Footer />
</Layout>
